{{#tourlist tours}}

	<a href="#/tour/{{id}}">{{name}}</a>
  <br/>
  <table>
    <tr>
      <td>
        <img src="{{img_url}}"></img>
      </td>
      <td>
        Price: {{price}}
      </td>
    </tr>
  </table>

{{/tourlist}}